<%- include ./partials/header.ejs %>
	<header>
		<div id="logo-container">
			<div id="logo" style="color: #e85151;font-size: 65px;line-height: 76px;letter-spacing: 0.4em;">DEANZA MAJOR LEAGUE HACKING</div>
			<div id="subtitle">GET READY TO COMPETE WITH THE TOP HACKERS IN THE NATION</div>
		</div>
		<nav>
			<ul>
				<li><a class="bordered" href="https://akashshekara1212.typeform.com/to/lFFwNt">SIGNUP FOR DAH 16</a></li>
				<li><a class="bordered" href="https://mlh.io/">MLH WEBSITE</a></li>
				<li><a href="mailto:akashshekara1212@gmail.com" class="bordered">EMAIL US</a></li>
			</ul>
		</nav>
	</header>


	<div id="content">
		<section class="intro">
			<h2 style="color: #e85151;">The hackathon has been postponed to March 5th & 6th. Sorry for the inconvenience.</h2>	
			<h2 style="color: #e85151;">Join <span class="nl"></span>us on the <b style="color: #abaeba;">5th</b> and <b style="color: #abaeba;">6th</b> of February for a preliminary De Anza hackathon 2016. The event is from <b style="color: #abaeba;">6:00pm Feb 26th</b> to <b style="color: #abaeba;">6:00pm Feb 27th</b> and we'll be hacking at <a style="text-decoration: none;" href="https://goo.gl/maps/KnVM4N9wU9B2"><b style="color: #abaeba;text-decoration: none;">apartment #2, 10113 Parkwood Dr, Cupertino CA 95014</b></a>. We'll keep you fueled with pizza and caffeine while you keep churning out code.</h2>
		</section>
		<section class="intro">
			<h2 style="color: #e85151;">The last day to register is <b style="color: #abaeba;">Thursday, February 25th</b>. Please register for the hackathon <a style="text-decoration: none;" href="https://akashshekara1212.typeform.com/to/lFFwNt"><b style="color: #abaeba">here</b></a>.</h2>
		</section>
		<section class="row" style="border-top: 2px solid #ced9e0;">
			<div class="photo-grid">
				<h1 style="color: #e85151;">Check out these upcoming MLH competitions</h1>
				<a href="http://hackutd.co/" class="col-2"><img src="http://i.imgur.com/52pFLVY.jpg"></a>
				<a href="https://hackprinceton.com/" class="col-2"><img src="http://i.imgur.com/NA7eHTy.png"></a>
				<a href="https://mlh.io/seasons/s2016/events" class="col-1"><img src="http://i.imgur.com/wNDyMOI.png"></a>
			</div>
		</section>
		<section class="row">
			<div class="col">
				<h2 style="color: #e85151;">
					Any suggestions? <a style="text-decoration: none;" href="mailto:akashshekara1212@gmail.com"><b style="color: #abaeba">Leave 'em here</b></a>.
				</h2>
			</div>
		</section>
	</div>
	<script>
	if (!window.jQuery) 
	{
	    document.write('<script src="javascripts/vendor/jquery.1.11.min.js"><\/script>');
	}
	</script>

	<script src="javascripts/vendor/jquery.fluidbox.min.js"></script>
	<script src="javascripts/main.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'YOUR_GOOGLE_ANALYTICS_ID', 'auto');
	  ga('send', 'pageview');

	</script>

<%- include ./partials/footer.ejs %>