<%- include ./partials/header.ejs %>
    <script type="text/javascript" src="javascripts/please-wait.min.js"></script>
    <script>
      window.loading_screen = window.pleaseWait({
        logo: "/images/ok.jpg",
        backgroundColor: 'white',
        loadingHtml: '<div class="sk-folding-cube"><div class="sk-cube1 sk-cube"></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div><p style="font-size: 30px;"><%= chucknorrisquotes %></p>'
      });
    </script>
    <script>
    	setTimeout(function(){
    		$.ajax({
	    		url: "/homepage",
	    		data: {},
	    		success: function(data) {
	    			window.location.replace("/homepage");
	    		}
	    	});
    	},7000);   
    </script>
<%- include ./partials/footer.ejs %>