<%- include ./partials/header.ejs %>
    <h1 id="chucknorrisquotes"></h1>
    <img src="http://mobile.wnd.com/files/2014/07/chuck-norris-07.jpg" class="img-rounded" alt="Chuck Norrisious" style='width: 50%;display: block;margin: 0 auto;'>
    <script>
    	$.ajax({
    		url: "http://api.icndb.com/jokes/random",
    		data: {},
    		success: function(data) {
    			$("#chucknorrisquotes").html(data.value.joke);
    		}
    	});
    	setTimeout(function(){
    		$.ajax({
	    		url: "/homepage",
	    		data: {},
	    		success: function(data) {
	    			window.location.replace("/homepage");
	    		}
	    	});
    	},7000);   
    </script>
<%- include ./partials/footer.ejs %>